In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

In [3]:
ser1 = Series([1,2,3,4], index = ['A','B','C','D'])

In [5]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [8]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [11]:
ser2.reindex(['A','B','C','D','E','F','G'], fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [13]:
ser3 = Series(['USA','Mexico','Canada'], index = [0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [15]:
ranger = range(15)
ser3.reindex(ranger, method = 'ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [20]:
## reindex columns and rows or both
dframe = DataFrame(np.random.randn(25).reshape((5,5)), index = ['A','B','D','E','F'], 
                   columns = ['col1','col2','col3','col4','col5'])

In [22]:
dframe

       col1      col2      col3      col4      col5
A  0.052191 -1.298104  0.303360  1.091800 -0.686677
B -0.313739  0.121395  1.152768 -1.276244 -1.227588
D -0.190800 -0.055124  0.074698 -0.650759 -0.564525
E -0.044375  0.414743 -0.147547  0.001255  0.868328
F -0.506874  0.000713  1.000295 -1.605020  0.749190

In [47]:
## reindex dataframe

dframe2 = dframe.reindex(['A','B','C','D','E','F'])
dframe2

       col1      col2      col3      col4      col5
A  0.052191 -1.298104  0.303360  1.091800 -0.686677
B -0.313739  0.121395  1.152768 -1.276244 -1.227588
C       NaN       NaN       NaN       NaN       NaN
D -0.190800 -0.055124  0.074698 -0.650759 -0.564525
E -0.044375  0.414743 -0.147547  0.001255  0.868328
F -0.506874  0.000713  1.000295 -1.605020  0.749190

In [48]:
new_columns = ['col1','col2','col3','col4','col5','col6']

In [52]:

dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A  0.052191 -1.298104  0.303360  1.091800 -0.686677   NaN
B -0.313739  0.121395  1.152768 -1.276244 -1.227588   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.190800 -0.055124  0.074698 -0.650759 -0.564525   NaN
E -0.044375  0.414743 -0.147547  0.001255  0.868328   NaN
F -0.506874  0.000713  1.000295 -1.605020  0.749190   NaN

In [53]:
dframe2

       col1      col2      col3      col4      col5
A  0.052191 -1.298104  0.303360  1.091800 -0.686677
B -0.313739  0.121395  1.152768 -1.276244 -1.227588
C       NaN       NaN       NaN       NaN       NaN
D -0.190800 -0.055124  0.074698 -0.650759 -0.564525
E -0.044375  0.414743 -0.147547  0.001255  0.868328
F -0.506874  0.000713  1.000295 -1.605020  0.749190

In [58]:
dframe.ix[['A','B','C','D','E','F'], new_columns] # error
dframe.loc[['A','B','C','D','E','F'], new_columns] # error

AttributeError: 'DataFrame' object has no attribute 'ix'

In [57]:
dframe.reindex(index = ['A','B','C','D','E','F'], columns = new_columns)

       col1      col2      col3      col4      col5  col6
A  0.052191 -1.298104  0.303360  1.091800 -0.686677   NaN
B -0.313739  0.121395  1.152768 -1.276244 -1.227588   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.190800 -0.055124  0.074698 -0.650759 -0.564525   NaN
E -0.044375  0.414743 -0.147547  0.001255  0.868328   NaN
F -0.506874  0.000713  1.000295 -1.605020  0.749190   NaN