In [2]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

from numpy.random import randn

In [3]:
ser = Series(randn(6), index = [[1,1,1,2,2,2], ['a', 'b', 'c', 'a', 'b', 'c']])

In [4]:
ser

1  a   -0.217617
   b   -0.393116
   c   -1.512834
2  a   -0.339377
   b    0.112848
   c   -0.897455
dtype: float64

In [5]:
ser.index

MultiIndex([(1, 'a'),
            (1, 'b'),
            (1, 'c'),
            (2, 'a'),
            (2, 'b'),
            (2, 'c')],
           )

In [6]:
ser[1]

a   -0.217617
b   -0.393116
c   -1.512834
dtype: float64

In [7]:
ser[2]

a   -0.339377
b    0.112848
c   -0.897455
dtype: float64

In [8]:
## from internal index level

ser[2]['a']

-0.3393765077379427

In [9]:
ser[:, 'a'] ##  all a

1   -0.217617
2   -0.339377
dtype: float64

In [10]:
dframe = ser.unstack()

In [12]:
dframe ## lower index level will be column

## higher index level will be row

          a         b         c
1 -0.217617 -0.393116 -1.512834
2 -0.339377  0.112848 -0.897455

In [26]:
dframe3 = DataFrame(np.arange(16).reshape(4, 4), index= [['a', 'a', 'b', 'b'], [1,2, 1, 2]], columns = [['NY', 'NY', 'LA', 'SF'], ['cold', 'hot','hot','cold']])

In [27]:
dframe3

      NY      LA   SF
    cold hot hot cold
a 1    0   1   2    3
  2    4   5   6    7
b 1    8   9  10   11
  2   12  13  14   15

In [28]:
dframe3.index.names = ['INDEX_1', 'INDEX_2']
dframe3.columns.names = ['Cities', 'Temp']

In [30]:
dframe3

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [31]:
dframe3.swaplevel('Cities', 'Temp', axis = 1) ## 1 for swaping columns

Temp            cold hot     cold
Cities            NY  NY  LA   SF
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [43]:
dframe3.sort_index(axis=0,level = 1)

## sort_values -- for sort by columns
## sort_index  -- for sort by index

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
b       1          8   9  10   11
a       2          4   5   6    7
b       2         12  13  14   15

In [51]:
dframe3.sort_values(by='INDEX_2', axis = 0)

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
b       1          8   9  10   11
a       2          4   5   6    7
b       2         12  13  14   15

In [52]:
dframe3.sum(level='Temp', axis = 1)

C:\Users\looka\AppData\Local\Temp\ipykernel_22648\3332245659.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  dframe3.sum(level='Temp', axis = 1)

Temp             cold  hot
INDEX_1 INDEX_2
a       1           3    3
        2          11   11
b       1          19   19
        2          27   27