In [1]:
import numpy as np

import pandas as pd

from pandas import Series, DataFrame

In [2]:
import webbrowser
website = 'http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [3]:
## data from clipboard
nfl_frame = pd.read_clipboard()

In [4]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division
0,1,Dallas Cowboys,981,562,413,6,0.576,1960,NFC East
1,2,Green Bay Packers,"1,435",799,598,38,0.570,1921,NFC North
2,3,Baltimore Ravens,451,256,194,1,0.569,1996,AFC North
3,4,New England Patriots,983,541,433,9,0.555,1960,AFC East

In [6]:
nfl_frame.columns

Index(['Rank', 'Team', 'GP', 'Won', 'Lost', 'Tied', 'Pct.', 'First NFL season',
       'Division'],
      dtype='object')

In [8]:
nfl_frame.Rank

0    1
1    2
2    3
3    4
Name: Rank, dtype: int64

In [10]:
nfl_frame.Team

0          Dallas Cowboys
1       Green Bay Packers
2        Baltimore Ravens
3    New England Patriots
Name: Team, dtype: object

In [14]:
nfl_frame['First NFL season']

0    1960
1    1921
2    1996
3    1960
Name: First NFL season, dtype: int64

In [15]:
DataFrame(nfl_frame,columns = ['Team', 'Won', 'Lost', 'Tied', 'First NFL season'])

                   Team  Won  Lost  Tied  First NFL season
0        Dallas Cowboys  562   413     6              1960
1     Green Bay Packers  799   598    38              1921
2      Baltimore Ravens  256   194     1              1996
3  New England Patriots  541   433     9              1960

In [17]:
DataFrame(nfl_frame,columns = ['Team', 'Won', 'Lost', 'Tied', 'First NFL season','Stadium'])

                   Team  Won  Lost  Tied  First NFL season  Stadium
0        Dallas Cowboys  562   413     6              1960      NaN
1     Green Bay Packers  799   598    38              1921      NaN
2      Baltimore Ravens  256   194     1              1996      NaN
3  New England Patriots  541   433     9              1960      NaN

In [18]:
nfl_frame.head()

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division
0,1,Dallas Cowboys,981,562,413,6,0.576,1960,NFC East
1,2,Green Bay Packers,"1,435",799,598,38,0.570,1921,NFC North
2,3,Baltimore Ravens,451,256,194,1,0.569,1996,AFC North
3,4,New England Patriots,983,541,433,9,0.555,1960,AFC East

In [19]:
nfl_frame.tail()

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division
0,1,Dallas Cowboys,981,562,413,6,0.576,1960,NFC East
1,2,Green Bay Packers,"1,435",799,598,38,0.570,1921,NFC North
2,3,Baltimore Ravens,451,256,194,1,0.569,1996,AFC North
3,4,New England Patriots,983,541,433,9,0.555,1960,AFC East

In [33]:
nfl_frame.iloc[1]

Rank                                2
Team                Green Bay Packers
GP                              1,435
Won                               799
Lost                              598
Tied                               38
Pct.                             0.57
First NFL season                 1921
Division                    NFC North
Name: 1, dtype: object

In [35]:
## assign values to entire columns
nfl_frame['Stadium'] = "Levi's Stadium"

In [37]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division,Stadium
0,1,Dallas Cowboys,981,562,413,6,0.576,1960,NFC East,Levi's Stadium
1,2,Green Bay Packers,"1,435",799,598,38,0.570,1921,NFC North,Levi's Stadium
2,3,Baltimore Ravens,451,256,194,1,0.569,1996,AFC North,Levi's Stadium
3,4,New England Patriots,983,541,433,9,0.555,1960,AFC East,Levi's Stadium

In [39]:
nfl_frame['Stadium'] = np.arange(4)

In [41]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division,Stadium
0,1,Dallas Cowboys,981,562,413,6,0.576,1960,NFC East,0
1,2,Green Bay Packers,"1,435",799,598,38,0.570,1921,NFC North,1
2,3,Baltimore Ravens,451,256,194,1,0.569,1996,AFC North,2
3,4,New England Patriots,983,541,433,9,0.555,1960,AFC East,3

In [52]:
## add series to a dataframe
stadiums = Series(["Levi's stadium", "AT&T stadium"], index = [3,0] )

In [53]:
stadiums

3    Levi's stadium
0      AT&T stadium
dtype: object

In [61]:
nfl_frame["Stadium"] = stadiums

In [62]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division,Stadium
0,1,Dallas Cowboys,981,562,413,6,0.576,1960,NFC East,AT&T stadium
1,2,Green Bay Packers,"1,435",799,598,38,0.570,1921,NFC North,NaN
2,3,Baltimore Ravens,451,256,194,1,0.569,1996,AFC North,NaN
3,4,New England Patriots,983,541,433,9,0.555,1960,AFC East,Levi's stadium

In [63]:
try:
    del nfl_frame['Stadium']
    print(nfl_frame)
except KeyError as e:
    print(f"Error: {e}")

   Rank                  Team     GP  Won  Lost  Tied   Pct.  \
0     1        Dallas Cowboys    981  562   413     6  0.576
1     2     Green Bay Packers  1,435  799   598    38  0.570
2     3      Baltimore Ravens    451  256   194     1  0.569
3     4  New England Patriots    983  541   433     9  0.555

   First NFL season   Division
0              1960   NFC East
1              1921  NFC North
2              1996  AFC North
3              1960   AFC East

In [65]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division
0,1,Dallas Cowboys,981,562,413,6,0.576,1960,NFC East
1,2,Green Bay Packers,"1,435",799,598,38,0.570,1921,NFC North
2,3,Baltimore Ravens,451,256,194,1,0.569,1996,AFC North
3,4,New England Patriots,983,541,433,9,0.555,1960,AFC East

In [67]:
## dictionaries to dataframe
data = {'City':['SF', 'LA', 'NYC'], 'Population':[837000, 388000, 8400000]}

In [69]:
city_frame = DataFrame(data)

In [71]:
city_frame

  City  Population
0   SF      837000
1   LA      388000
2  NYC     8400000